:root {
  --window-small: 500;

  --baseline: 8;

  --overline-1-size: 12px;
  --overline-1-line-height: var(--baseline);
  --overline-1-letter-spacing: 0.11em;

  --body-1-size: 14;
  --body-1-line-height: calc(var(--baseline) * 2.5);
  --body-1-letter-spacing: 0.03em;

  --body-2-size: 16;
  --body-2-line-height: calc(var(--baseline) * 3);
  --body-2-letter-spacing: 0.02em;

  --body-3-size: 19;
  --body-3-line-height: calc(var(--baseline) * 3.5);
  --body-3-letter-spacing: 0.01em;

  --body-4-size: 25;
  --body-4-line-height: calc(var(--baseline) * 4);
  --body-4-letter-spacing: 0;

  --headline-1-size: 28;
  --headline-1-line-height: calc(var(--baseline) * 4);
  --headline-1-letter-spacing: -0.01em;

  --headline-2-size: 32;
  --headline-2-line-height: calc(var(--baseline) * 5);
  --headline-2-letter-spacing: -0.01em;

  --headline-3-size: 44;
  --headline-3-line-height: calc(var(--baseline) * 6);
  --headline-3-letter-spacing: -0.02em;

  --headline-4-size: 47;
  --headline-4-line-height: calc(var(--baseline) * 7);
  --headline-4-letter-spacing: -0.02em;

  --headline-5-size: 60;
  --headline-5-line-height: calc(var(--baseline) * 8);
  --headline-5-letter-spacing: -0.02em;

  --headline-6-size: 70;
  --headline-6-line-height: calc(var(--baseline) * 9);
  --headline-6-letter-spacing: -0.03em;

  --caption-1-size: 9;
  --caption-1-line-height: calc(var(--baseline) * 1.5);
  --caption-1-letter-spacing: 0.11em;

  --caption-2-size: 12;
  --caption-2-line-height: calc(var(--baseline) * 2);
  --caption-2-letter-spacing: 0.04em;
}

@mixin fluid-type-settings($font-size, $line-height) {
  @media (min-width: $mobile) {
    line-height: calc(#{$line-height} / #{$font-size});
    font-size: calc(#{$font-size} / #{strip-unit($mobile)} * 100vw);
  }
  @media (min-width: $tablet) {
    font-size: calc(#{$font-size} / #{strip-unit($tablet)} * 100vw);
  }
  @media (min-width: $laptop) {
    font-size: calc(#{$font-size} / #{strip-unit($laptop)} * 100vw);
  }
  @media (min-width: $desktop) {
    font-size: calc(#{$font-size} / #{strip-unit($desktop)} * 100vw);
  }
  @media (min-width: $cinema) {
    font-size: calc(#{$font-size} / #{strip-unit($cinema)} * 100vw);
  }
}

[class*='t-caption'],
[class*='t-body'],
[class*='t-headline'] {
  max-width: 80ch;
}

.t-body {
  &--1 {
    font-size: calc(var(--body-1-size) * 1px);
    line-height: calc(var(--body-1-line-height) * 1px);
    letter-spacing: var(--body-1-letter-spacing);

    @include fluid-type-settings(var(--body-1-size), var(--body-1-line-height));
  }

  &--2 {
    font-size: calc(var(--body-2-size) * 1px);
    line-height: calc(var(--body-2-line-height) * 1px);
    letter-spacing: var(--body-2-letter-spacing);

    @include fluid-type-settings(var(--body-2-size), var(--body-2-line-height));
  }

  &--3 {
    font-size: calc(var(--body-3-size) * 1px);
    line-height: calc(var(--body-3-line-height) * 1px);
    letter-spacing: var(--body-3-letter-spacing);

    @include fluid-type-settings(var(--body-3-size), var(--body-3-line-height));
  }

  &--4 {
    font-size: calc(var(--body-4-size) * 1px);
    line-height: calc(var(--body-4-line-height) * 1px);
    letter-spacing: var(--body-4-letter-spacing);

    @include fluid-type-settings(var(--body-4-size), var(--body-4-line-height));
  }
}

.t-headline {
  &--1 {
    font-size: calc(var(--headline-1-size) * 1px);
    line-height: calc(var(--headline-1-line-height) * 1px);
    letter-spacing: var(--headline-1-letter-spacing);

    @include fluid-type-settings(
      var(--headline-1-size),
      var(--headline-1-line-height)
    );
  }

  &--2 {
    font-size: calc(var(--headline-2-size) * 1px);
    line-height: calc(var(--headline-2-line-height) * 1px);
    letter-spacing: var(--headline-2-letter-spacing);

    @include fluid-type-settings(
      var(--headline-2-size),
      var(--headline-2-line-height)
    );
  }

  &--3 {
    font-size: calc(var(--headline-3-size) * 1px);
    line-height: calc(var(--headline-3-line-height) * 1px);
    letter-spacing: var(--headline-3-letter-spacing);

    @include fluid-type-settings(
      var(--headline-3-size),
      var(--headline-3-line-height)
    );
  }

  &--4 {
    font-size: calc(var(--headline-4-size) * 1px);
    line-height: calc(var(--headline-4-line-height) * 1px);
    letter-spacing: var(--headline-4-letter-spacing);

    @include fluid-type-settings(
      var(--headline-4-size),
      var(--headline-4-line-height)
    );
  }

  &--5 {
    font-size: calc(var(--headline-5-size) * 1px);
    line-height: calc(var(--headline-5-line-height) * 1px);
    letter-spacing: var(--headline-5-letter-spacing);

    @include fluid-type-settings(
      var(--headline-5-size),
      var(--headline-5-line-height)
    );
  }

  &--6 {
    font-size: calc(var(--headline-6-size) * 1px);
    line-height: calc(var(--headline-6-line-height) * 1px);
    letter-spacing: var(--headline-6-letter-spacing);

    @include fluid-type-settings(
      var(--headline-6-size),
      var(--headline-6-line-height)
    );
  }
}

.t-caption {
  &--1 {
    font-size: calc(var(--caption-1-size) * 1px);
    line-height: calc(var(--caption-1-line-height) * 1px);
    letter-spacing: var(--caption-1-letter-spacing);
    text-transform: uppercase;
    max-width: 80ch;

    @include fluid-type-settings(
      var(--caption-1-size),
      var(--caption-1-line-height)
    );
  }

  &--2 {
    font-size: calc(var(--caption-2-size) * 1px);
    line-height: calc(var(--caption-2-line-height) * 1px);
    letter-spacing: var(--caption-2-letter-spacing);
    font-variation-settings: 'wght' 420, 'wdth' 370;
    max-width: 80ch;

    @include fluid-type-settings(
      var(--caption-2-size),
      var(--caption-2-line-height)
    );
  }
}

@font-face {
  src: url('~static/fonts/InstrumentSansVF.ttf');
  font-family: 'Instrument-Sans';
  font-display: block;
  font-weight: normal;
  font-style: normal;
}
