@use 'sass:math';

$mobile: 390px;
$tablet: 640px;
$laptop: 1024px;
$desktop: 1440px;
$cinema: 1920px;

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return math.div($number, $number * 0 + 1);
  }

  @return $number;
}

/* breakpoints
   ========================================================================== */

$breakpoints: (
  'sm': $mobile,
  'md': $tablet,
  'lg': $laptop,
  'xl': $desktop,
  'xx': $cinema,
);

:root {
  // background
  --color-background: 220, 220, 220;
  --background: rgb(var(--color-background));

  // foreground
  --color-foreground: 10, 10, 10;
  --foreground: rgb(var(--color-foreground));

  // links, buttons, etc.
  --color-accent: 0, 0, 0;
  --accent: rgb(var(--color-accent));
}

/* typography
   ========================================================================== */

// sans-serif
$text-sans: 'Instrument-Sans', Helvetica, sans-serif;

// serif
$text-serif: 'EG-Times', Times, serif;

// monospace
$text-mono: Courier, monospace;

/* spacing
   ========================================================================== */

// Transitions
$trans-ease: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$trans-ease: ease-in-out;
$trans-duration: 400ms;
$trans-delay-intro: 750ms;
